<form>
  <div class="form-group">
    <label for="movieTitle">Movie Title (Instant Change)</label>
    <input
      type="text"
      class="form-control"
      name="movieTitle"
      placeholder="Enter movie title"
      [(ngModel)]="selectedMovie.title"
    />
  </div>
  <!-- <div class="form-group">
    <label for="movieTitle">Description</label>
    <input type="text" class="form-control" name="movieTitle" placeholder="Enter movie title" [(ngModel)]="selectedMovie">
  </div> -->
</form>

<form (submit)="saveMovieData()">
  <div class="form-group">
    <label for="movieTitle">Movie Title (No change until save)</label>
    <input
      type="text"
      class="form-control"
      name="movieTitle"
      placeholder="Enter movie title"
      [(ngModel)]="movieTitle"
    />
  </div>
  <button type="submit" class="btn btn-primary">SAVE</button>
  <button (click)="deleteMovieEmit()" class="btn btn-danger ml-4">DELETE</button>
</form>
